.box-main {
    z-index: 25;
    background-color: green;
   
    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;
}

.box {
    background-color: blue;
    z-index:20;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}
.box-lvl1{
    z-index:15;
    background-color: yellow;
   
    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}
.box-lvl2{
    z-index: 14;
    background-color: red;

    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}
.box-lvl3{
    z-index: 13;
    background-color: purple;

    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}
.box-lvl4{
    z-index: 12;
    background-color: orange;

    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}

.box-lvl5{
    z-index: 9;
    background-color: pink;

    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}
.box-lvl6{
    z-index: 8;
    background-color: brown;

    width: 50px;
    height: 50px;
    position: absolute;
    top: 36%;
    left: 5%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}


.box-main:hover {
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
}

/* .box:hover{
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
} */
.hover-effect {
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
}

.move1 {
    transform: translate(250px, -80px);
}

.move2 {
    transform: translateX(250px);
}

.move3 {
    transform: translate(250px, 80px);
}
/* child - 5*/
.move4 {
    transform: translate(250px, 80px);
}
.move5 {
    transform: translate(500px, 160px);
}
/*child - 6*/
.move6{
    transform: translate(250px, -80px);
}
.move7{
    transform: translate(500px);
}
/*child - 7 */
.move8{
    transform: translate(250px);
}
.move9{
    transform: translate(500px);
}
.move10{
    transform: translate(750px);
}
/*child - 8,9 */
.move11{
    transform: translate(250px);
}
.move12{
    transform: translate(500px);
}
.move13{
    transform: translate(750px);
}
.move14{
    transform: translate(900px);
}
.move15{
    transform: translate(900px,-80px);
}


/*child - 10 */
.move16{
    transform: translate(250px);
}
.move17{
    transform: translate(500px);
}
.move18{
    transform: translate(750px);
}
.move19{
    transform: translate(900px);
}
.move20{
    transform: translate(1000px,-80px);
}
.move21{
    transform: translate(1000px);
}
.move22{
    transform: translate(1000px,80px);
}
/*child-11*/
.move23{
    transform: translate(250px);
}
.move24{
    transform: translate(500px);
}
.move25{
    transform: translate(750px);
}
.move26{
    transform: translate(900px,-80px);
}
.move27{
    transform: translate(1100px,-80px);
}
/*child-11*/
.move28{
    transform: translate(250px);
}
.move29{
    transform: translate(500px);
}
.move30{
    transform: translate(750px);
}
.move31{
    transform: translate(900px);
}
.move32{
    transform: translate(1000px);
}
.move33{
    transform: translate(1100px);
}
/*child-12*/
.move34{
    transform: translate(250px);
}
.move35{
    transform: translate(500px);
}
.move36{
    transform: translate(750px);
}
.move37{
    transform: translate(900px);
}
.move38{
    transform: translate(1000px,80px);
}
.move39{
    transform: translate(1200px,80px);
}






.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.dashed {
    stroke-dasharray: 5, 12;

}

 .hide {
    display: none;
}




/* CSS */
.button-1 {
  background-color: transparent;
  height: 2vh;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  margin-top: 1vh;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  border-width: 0;
 
}

.modal-body {
    width:80vw;
}

.modal-content {
    /* position: absolute; */
    left: 0vw;
    width: 80vw;
}

.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}