.box {
    background-color: blue;
    color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;

}

.box-main {
    z-index: 5;
    background-color: green;
    color: pink;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 500ms ease-in-out;


}

.box-main:hover {
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
}

/* .box:hover{
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
} */
.hover-effect {
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
}

.move1 {
    transform: translate(250px, -80px);
}

.move2 {
    transform: translateX(250px);
}

.move3 {
    transform: translate(250px, 80px);
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.dashed {
    stroke-dasharray: 5, 12;

}

.hide {
    display: none;
}
